server:
  shutdown: graceful
  http2:
    enabled: true

spring:
  lifecycle: timeout-per-shutdown-phase=30s
  config:
    activate:
      on-profile: prod
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://${DEVLOG_MAIN_DB_HOST}/devlog
    username: ${DEVLOG_MAIN_DB_NM}
    password: ${DEVLOG_MAIN_DB_PW}
  jpa:
    hibernate:
      ddl-auto: validate # DDL (create/update/create-drop/validate/none)
  data:
    redis:
      host: redis
      port: 6379
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${DEVLOG_GOOGLE_CLIENT_ID}
            client-secret: ${DEVLOG_GOOGLE_CLIENT_SECRET}
            redirect-uri: "http://api.devlog.run/main/login/oauth2/code/{registrationId}"
            scope: profile, email
frontend:
  url: https://devlog.run
  domain: devlog.run
file:
  upload:
    path: /home/static/resource
  request:
    path: res
