@import "src/styles/commons";

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    flex: 1;

    ul {
        align-self: start;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}