@import "src/styles/commons";

.comment-editor {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  .w-md-editor {
    font-size: 1rem;
    // line-height: 20px !important;
    border-radius: 15px;
    &:is(.dark *) {
      background-color: #252e3a;
    }
    .w-md-editor-content {
      min-height: 100px;
      height: 100% !important;
      .w-md-editor-text {
        font-size: inherit !important;
        line-height: inherit !important;
      }
      // height: auto !important;
      .w-md-editor-text-pre > code,
      .w-md-editor-text-input {
        font-family: NanumGothic !important;
        font-size: 1em !important;
        // line-height: 1em !important;
        // font-size: 1.3em !important;
        // line-height: 1.3em !important;
      }
      .wmde-markdown {
        font-family: NanumGothic !important;
        background-color: inherit;
        font-size: 1em !important;
        // line-height: 1em !important;
        // font-size: 1.3em !important;
        // line-height: 1.3em !important;
      }
      .w-md-editor-preview {
        font-family: NanumGothic !important;
        background-color: inherit;
        position: inherit;
        height: 100%;
        padding: 10px;
        // font-size: 1em !important;
        // line-height: 1em !important;
      }
    }
    .w-md-editor-toolbar {
      border-radius: 15px;
      button {
        width: 2em;
        height: 2em;
        svg {
          width: 1.5em;
          height: 1.5em;
        }
      }
    }
    .w-md-editor-toolbar-divider {
      height: 1.5em;
      vertical-align: baseline;
      margin: -12px 12px 0 12px !important;
    }
  }

  .comment-editor-bottom {
    display: flex;
    gap: 5px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
