version: "3.9"

networks:
  ms-network:
    driver: bridge

services:
  discovery-service:
    build: ./backend/discovery-service
    ports:
      - "8761:8761"
    networks:
      - ms-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  gateway-service:
    build: ./backend/gateway-service
    ports:
      - "8760:8760"
    depends_on:
      discovery-service:
        condition: service_healthy
    networks:
      - ms-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8760/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      JWT_SECRET: ${JWT_SECRET}

  main-service:
    build: ./backend/main-service
    ports:
      - "8000:8000"
    depends_on:
      redis:
        condition: service_healthy
      discovery-service:
        condition: service_healthy
      gateway-service:
        condition: service_healthy
    networks:
      - ms-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      DEVLOG_TEST_DB_HOST: ${DEVLOG_TEST_DB_HOST}
      DEVLOG_TEST_DB_NM: ${DEVLOG_TEST_DB_NM}
      DEVLOG_TEST_DB_PW: ${DEVLOG_TEST_DB_PW}
      DEVLOG_GOOGLE_CLIENT_ID: ${DEVLOG_GOOGLE_CLIENT_ID}
      DEVLOG_GOOGLE_CLIENT_SECRET: ${DEVLOG_GOOGLE_CLIENT_SECRET}
      JWT_SECRET: ${JWT_SECRET}
      RECAPTCHA_PRIVATE_KEY: ${RECAPTCHA_PRIVATE_KEY}
    volumes:
      - C:\\Programming\\Blog\\devlog\\backend\\main-service\\src\\main\\resources\\upload:/home/static/resource

  mail-service:
    build: ./backend/mail-service
    ports:
      - "8001:8001"
    depends_on:
      redis:
        condition: service_healthy
      discovery-service:
        condition: service_healthy
      gateway-service:
        condition: service_healthy
    networks:
      - ms-network
    environment:
      DEVLOG_MAIL_USERNAME: ${DEVLOG_MAIL_USERNAME}
      DEVLOG_MAIL_PASSWORD: ${DEVLOG_MAIL_PASSWORD}

  sitemap-service:
    build: ./backend/sitemap-service
    ports:
      - "8002:8002"
    depends_on:
      discovery-service:
        condition: service_healthy
      gateway-service:
        condition: service_healthy
      main-service:
        condition: service_healthy
    networks:
      - ms-network
    volumes:
      - C:\\Programming\\Blog\\devlog\\backend\\sitemap-service\\src\\main\\resources\\sitemap:/app/sitemap
      - C:\\Programming\\Blog\\devlog\\backend\\sitemap-service\\src\\main\\resources\\sub-sitemap:/app/sub-sitemap

  llm-service:
    build: ./backend/llm-service
    ports:
      - "8100:8100"
    depends_on:
      discovery-service:
        condition: service_healthy
      gateway-service:
        condition: service_healthy
    networks:
      - ms-network
    environment:
      OPENAI_API_KEY: ${OPENAI_API_KEY}

  redis:
    image: redis:7.4
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - ms-network

  # database:
  #   image: mysql:8.0
  #   restart: on-failure
  #   environment:
  #     MYSQL_DATABASE: devlog
  #     MYSQL_ROOT_HOST: "%"
  #     MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
  #   ports:
  #     - "3306:3306"
  #   healthcheck:
  #     test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5
  #   tty: true
  #   networks:
  #     - ms-network
