* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p {
    margin-block: 0;
    margin-inline: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}