* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    @include mediaquery(wide) {
        font-size: 14px;
    }
    @include mediaquery(x-large) {
        font-size: 12px;
    }
    @include mediaquery(large) {
        font-size: 11px;
    }
    @include mediaquery(medium) {
        font-size: 10px;
    }
}

p {
    margin-block: 0;
    margin-inline: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.liner {
    border-top: 1px solid black;
    margin-bottom: 0.5rem;
}