@import "src/styles/commons";

.editor-container {
  display: flex;
  flex: 1;
  //   color: #000;
  --ck-focus-ring: 1px solid #c5c5c5;
  &:is(.dark *) {
    --ltrs-color-white: #fff;
    --ltrs-color-gray: #242424;
    --ltrs-color-gray-blue: #59697d;
    --ltrs-color-gray-purple: #795f86;
    --ltrs-color-gray2: #343434;
    --ck-color-input-background: #4a494b;

    --ck-color-text: var(--ltrs-color-white);
    --ck-color-toolbar-border: var(--ltrs-color-gray2) !important;
    --ck-color-base-border: var(--ltrs-color-gray2);

    --ck-color-toolbar-background: var(--ltrs-color-gray);
    --ck-color-base-background: var(--ltrs-color-gray);
    --ck-color-base-foreground: var(--ltrs-color-gray);
    --ck-color-list-background: var(--ltrs-color-gray); // 리스트 배경
    --ck-color-list-button-hover-background: var(
      --ltrs-color-gray-purple
    ); // 리스트 호버
    --ck-color-dropdown-panel-background: var(--ltrs-color-gray);
    --ck-color-dropdown-panel-hover-background: var(--ltrs-color-gray);
    --ck-color-button-default-hover-background: var(--ltrs-color-gray-purple);

    --ck-focus-ring: 1px solid #414141;

    --ck-balloon-arrow-height: 11px;
    --ck-balloon-arrow-half-width: 7px;
    --ck-color-toolbar-border: var(--ltrs-color-gray);
    --ck-color-panel-border: var(--ltrs-color-gray);
    --ck-color-panel-background: var(--ltrs-color-gray);

    /* Change the default button colors for all states. */
    --ck-color-button-default-background: var(--ltrs-color-gray);
    --ck-color-button-default-active-background: var(--ltrs-color-gray-blue);
    --ck-color-button-default-active-shadow: var(--ltrs-color-gray-blue);
    --ck-color-button-default-focus-background: var(--ltrs-color-gray-blue);
    --ck-color-button-default-disabled-background: var(
      --ck-color-button-default-background
    );

    --ck-color-button-on-background: #363636; // 툴바 버튼 클릭되었을 때
    --ck-color-button-on-color: var(
      --ltrs-color-gray-purple
    ); // 툴바 버튼 클릭되었을 때
    --ck-color-button-on-active-background: var(
      --ltrs-color-gray-purple
    ); // 툴바 버튼이 작동할 때
    --ck-color-split-button-hover-background: var(
      --ltrs-color-gray-purple
    ); // 툴바 버튼 호버
    --ck-color-button-on-active-shadow: hsl(138, 100%, 50%);
    --ck-color-button-on-focus-background: hsl(61, 100%, 50%);

    --ck-color-dialog-background: var(--ltrs-color-gray);
    --ck-color-button-action-background: var(--ltrs-color-gray-purple);
  }
}

.editor-container.post-editor {
  .editor-container__editor {
    // display: flex;
    // flex: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
    .ck.ck-editor {
      position: static !important;
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .ck.ck-editor__editable:not(.ck-editor__nested-editable) {
      min-height: 1000px;
      max-height: 1000px;
      padding: 0 3em;

      @include mediaquery(medium) {
        padding: 0 1em;
      }
    }
    .ck.ck-editor__main {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;

      //   &:is(.dark *) {
      //     background-color: #252e3a !important;
      //   }
    }
    .ck.ck-toolbar {
      justify-content: center;
      width: 100%;
    }
    .ck.ck-toolbar__items {
      max-width: 1300px;
      justify-content: center;
    }
    .ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content {
      border-width: 0px;
      border-top-width: 1px;
      border-bottom-width: 1px;
    }
    .ck.ck-content {
      width: 100%;
      max-width: 900px;
      display: flex;
      flex: 1;
      flex-direction: column;
      word-break: break-word;
      margin-bottom: 1px;
    }

    .post-editor-publish-btn {
      border: none;
      border-radius: 15px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      outline-width: 1px;
      max-width: 900px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

.ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
  border-top-width: 0px !important;
  border-bottom-width: 1px !important;
  border-radius: 0px !important;
}

.ck.ck-editor__editable {
  border-top-width: 0 !important;
}

.ck-editor__main {
  border-top-width: 0;
}

.ck.ck-content h1:first-child {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;

  &:is(.dark *) {
    border-bottom-color: #363636;
  }
}

// .ck-publish {
//   border-radius: 4px;
//   background-color: #7286d3;
//   padding: 0.3em 0.5em;
//   color: white;
//   transition: background-color 0.5s;
// }
