@import "src/styles/commons";

.PostEditor {
  display: flex;
  flex-direction: column;
  flex: 1;
  .post-top {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    outline-width: 1px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;

    input.post-title {
      flex: 1;
      font-size: 1.3rem;
      padding: 0.3em;
      height: 2em;
      background-color: inherit;
    }
  }
  .w-md-editor {
    font-size: 1rem;
    border-radius: 0px;

    &:is(.dark *) {
      background-color: #252e3a;
    }
    .w-md-editor-content {
      flex: 1;
      .w-md-editor-text {
        font-size: inherit !important;
        line-height: inherit !important;
      }
      .w-md-editor-text-pre > code,
      .w-md-editor-text-input {
        font-family: NanumGothic !important;
        font-size: 1em !important;
      }
      .wmde-markdown {
        font-family: NanumGothic !important;
        background-color: inherit;
        font-size: 1em !important;
        * {
          background-color: inherit;
        }

        iframe {
          display: block;
          margin: auto;
        }

        img {
          display: block;
          margin: auto;
        }
      }
      .w-md-editor-preview {
        font-family: NanumGothic !important;
        background-color: inherit;
        padding: 10px;
        ul.contains-task-list {
          white-space: nowrap;
        }
      }
    }
    .w-md-editor-toolbar {
      border-radius: 15px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-top: none;
      button {
        width: 2em;
        height: 2em;
        svg {
          width: 1.5em;
          height: 1.5em;
        }
      }
    }
    .w-md-editor-toolbar-divider {
      height: 1.5em;
      vertical-align: baseline;
      margin: -12px 12px 0 12px !important;
    }
  }

  .post-editor-publish-btn {
    margin-top: 1px;
    border: none;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    outline-width: 1px;
  }
}
