@import "src/styles/commons";

.PostEditor {
  display: flex;
  flex-direction: column;
  flex: 1;
  .post-top {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    input.post-title {
      margin-right: 1em;
      flex: 1;
      font-size: 1.5em;
      padding: 0.3em;
      height: 2em;
      background-color: $background-white-color;
      border-radius: 10px;
      &:is(.dark *) {
        background-color: #0d1117;
      }
    }
    .post-extra-menu {
      display: flex;
      gap: 0.5em;
      margin: auto;
      button {
      }
    }
  }
  .w-md-editor {
    font-size: 1rem;
    border-radius: 15px;
    &:is(.dark *) {
      background-color: #252e3a;
    }
    .w-md-editor-content {
      flex: 1;
      .w-md-editor-text {
        font-size: inherit !important;
        line-height: inherit !important;
      }
      .w-md-editor-text-pre > code,
      .w-md-editor-text-input {
        font-family: NanumGothic !important;
        font-size: 1em !important;
        // line-height: 1em !important;
        // font-size: 1.3em !important;
        // line-height: 1.3em !important;
      }
      .wmde-markdown {
        font-family: NanumGothic !important;
        background-color: inherit;
        font-size: 1em !important;
        // line-height: 1em !important;
        // font-size: 1.3em !important;
        // line-height: 1.3em !important;
      }
      .w-md-editor-preview {
        font-family: NanumGothic !important;
        background-color: inherit;
        // position: inherit;
        // height: 100%;
        padding: 10px;
        ul.contains-task-list {
          white-space: nowrap;
        }
        // font-size: 1em !important;
        // line-height: 1em !important;
      }
    }
    .w-md-editor-toolbar {
      border-radius: 15px;
      button {
        width: 2em;
        height: 2em;
        svg {
          width: 1.5em;
          height: 1.5em;
        }
      }
    }
    .w-md-editor-toolbar-divider {
      height: 1.5em;
      vertical-align: baseline;
      margin: -12px 12px 0 12px !important;
    }
  }

  .post-editor-file-uploader {
  }
}
