@import "src/styles/commons";

.post-container {
  background-color: #fbfbfb;
  &:is(.dark *) {
    background-color: #242424;
  }
  padding: 1em;
  border-radius: 15px;
  margin: 15px 0 15px 0;
  hr {
    margin: 1em 0 1em 0;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 1em 0 1em 0;
    .post-title {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: -0.5em;
    }
    .post-category {
      font-size: 1.1rem;
    }
    .post-datetime {
      display: flex;
      justify-content: center;
      gap: 0.5em;

      svg {
        margin: auto 0 auto 0;
      }
    }
  }

  article {
    margin: 2em 0 2em 0;
    .wmde-markdown {
      background-color: inherit;
      * {
        background-color: inherit;
      }
    }
  }

  footer {
    display: flex;
    gap: 10px;
    .post-footer-item {
      display: flex;
      font-size: 1.1em;
      gap: 5px;
      * {
        margin: auto 0 auto 0;
      }
    }
  }
}
