@import "src/styles/commons";

.post-container {
  margin-bottom: 15px;
  hr {
    margin: 1em 0 1em 0;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 1em 0 1em 0;
    .post-title {
      font-size: 2rem;
      font-weight: 600;
    }
    .post-category {
      font-size: 1.1rem;
    }
    .post-datetime {
      display: flex;
      justify-content: center;
      gap: 0.5em;

      svg {
        margin: auto 0 auto 0;
      }
    }
  }

  article {
    margin: 2em 0 2em 0;
    .wmde-markdown {
      background-color: inherit;
    }
  }

  footer {
    display: flex;
    .post-like {
      display: flex;
      font-size: 1.3em;
      gap: 5px;
      * {
        margin: auto 0 auto 0;
      }
    }
  }
}
