@import "src/styles/commons";

.edit-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  margin-top: 2rem;
  // flex: 1;
  user-select: none;
  font-family: "SokchoBadaBatang";
  padding: 1px;

  .title {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1em;
  }

  ul {
    align-self: start;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      display: flex;
      div.icon {
        width: 1em;
        height: 1em;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0.5em;
      }
      p {
        transition: margin-left 50ms;
        pointer-events: none;
      }

      &.dropArea {
        color: rgba(
          0,
          0,
          0,
          0
        ) !important; // 이모티콘을 제외한 텍스트 모두 흰색으로
        // background: white !important;
        position: relative;

        &::before {
          content: "Drop Here";
          color: #687bf7;
          font-size: 0.5em;
          text-transform: uppercase; // 대문자
          width: 100%;
          height: 100%;
          border: 2px dashed #687bf7; // 점선
          border-radius: 3px;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        div.icon {
          display: none;
        }

        p {
          margin-left: 1em;
        }
      }
    }
  }
}
